@font-face
	font-source('roboto-bold')
	
.roboto-bold
	font-family 'roboto-bold' !important
	font-weight normal !important

@font-face
	font-source('roboto-light')
	
.roboto-light
	font-family 'roboto-light' !important
	font-weight normal !important

@font-face
	font-source('roboto-regular')
	
.roboto-regular
	font-family 'roboto-regular' !important
	font-weight normal !important

@font-face
	font-source('roboto-thin')
	
.roboto-thin
	font-family 'roboto-thin' !important
	font-weight normal !important

@font-face
	font-source('Baskerville')
	
.Baskerville
	font-family 'Baskerville' !important
	font-weight normal !important

	

// fonts size
font-size-base			=	14px
// 39px
font-size-alpha 		=	floor(font-size-base * 2.8)
// 33px
font-size-beta 			=	floor(font-size-base * 2.4)
// 30px
font-size-gamma 		=	floor(font-size-base * 2.2)
// 28px
font-size-h1			=	floor(font-size-base * 2)
// 24px
font-size-h2			=	floor(font-size-base * 1.75)
// 21px
font-size-h3			=	floor(font-size-base * 1.5)
// 17px
font-size-h4			=	floor(font-size-base * 1.25)
// 14px
font-size-h5			=	floor(font-size-base)
// 11px
font-size-h6			=	floor(font-size-base * 0.85)