
c_white = #ffffff
c_black = #000000
c_blue_facebook = #3b5998
c_blue_twitter = #4099ff
c_red_www = #e00e54
c_red_mail = #ad0055
c_green_whatsapp = #0dc143
c_red_gplus = #d34836

c_gray = #d4d4d4
c_gray2 = #565656
c_gray3 = #464646
c_cyber = #035256
c_green = #7AC537
c_green2 = #1fa02e
c_orange = #e88613
c_aval = #29298a
c_codensa = #358fd4
c_colpatria = #a70c0c
c_scotiabank = #ED1B2E
c_bbva = #003a7c
c_bbog = #145e94
c_itau = #100c73
c_visa = #2f3690
c_mastercard = #eb001b
//windowsize
window-lg     =    1200px
window-md     =    970px
window-sm     =    750px
window-xs     =    480px